body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    border-radius: 8px;
    
}

h1{
    text-align: left;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
}


.login{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #5d9ee4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.login:hover {
    background-color: #0056b3;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



